@use "../global" as *;

.u-marker-dot {
  /* 文字数はhtmlのstyle属性で指定（可変にする場合はJSで対応） */
  // --dot-count: 3;
  --dot-size: #{rem(5)};
  --dot-offset: #{rem(8)};
  --dot-color: var(--color-accent);
  position: relative;
  display: inline-block;

  /* ドットも要素の一部とみなす場合 */
  padding-block-start: var(--dot-offset);
}

.u-marker-dot::before {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 0;

  /* 他の行のレイアウトに影響を出さないようにする場合 */
  // inset-block-start: calc(var(--dot-offset) * -1);

  height: var(--dot-size);
  mask-size: calc(100% / var(--dot-count)) var(--dot-size);
  mask-repeat: space no-repeat;
  mask-position: center;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><circle cx="1" cy="1" r="1" fill="black"/></svg>');
  content: "";
  background-color: var(--dot-color);
}
