@use "../global" as *;

/**
 * マーカー風の下線（蛍光ペン風）
 * --marker-color, --marker-width でカスタマイズ可能
 */
.u-marker {
  --marker-color: color-mix(in srgb, var(--color-accent), transparent 50%);;
  --marker-width: #{rem(8)};

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, var(--marker-color) var(--marker-width), transparent var(--marker-width));
}
