<!doctype html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>
<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <%- include(ejsPath + 'main/' + content) %>
  <%- include(ejsPath + 'common/_footer.ejs') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>