<!doctype html>
<html lang="ja">
<%- include(EJS_PATH + 'common/_head.ejs', { title }) %>
<body>
  <%- include(EJS_PATH + 'common/_header.ejs') %>
  <%- include(EJS_PATH + 'main/' + content) %>
  <%- include(EJS_PATH + 'common/_footer.ejs') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>