<!doctype html>
<html lang="ja">
<%- include('../components/_head.ejs', { title }) %>
<body>
  <%- include('../components/_header.ejs') %>
  <%- include('../main/' + content) %>
  <%- include('../components/_footer.ejs') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>