<!doctype html>
<html lang="ja">
<%- include('../common/_head.ejs', { title }) %>
<body>
  <%- include('../common/_header.ejs') %>
  <%- include('../main/' + content) %>
  <%- include('../common/_footer.ejs') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>