<% 
  const key = 'demoDialog';
  const pageData = pages[key];
  const page = {
    title: pageData.title ? pageData.title + titleSeparator + siteName : siteName,
    description: pageData.description,
    keywords: pageData.keywords,
    path: pageData.path,
    root: pageData.root,
  };
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>

<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <main class="p-demo">
    <div class="p-demo__inner l-inner">
      <h1 class="p-demo__title"><%- pageData.title %></h1>
      <div class="p-demo__content">
        <section class="p-demo__section">
          <h2 class="p-demo__section-title">通常のモーダル</h2>
          <%- include(ejsPath + 'components/_p-dialog-trigger.ejs') %>
        </section>
        <section class="p-demo__section">
          <h2 class="p-demo__section-title">動画再生モーダル：YouTube</h2>
          <%- include(ejsPath + 'components/_p-dialog-trigger-movie.ejs') %>
        </section>
        <section class="p-demo__section">
          <h2 class="p-demo__section-title">動画再生モーダル：video要素</h2>
          <%- include(ejsPath + 'components/_p-dialog-trigger-video.ejs') %>
        </section>
      </div>
      <aside class="p-demo__reference">
        <h2 class="p-demo__reference-title">参考サイト</h2>
        <ul class="p-demo-list">
          <li class="p-demo-list__item">
            <a href="https://www.tak-dcxi.com/article/implementation-example-of-a-modal-created-using-the-dialog-element#%E3%82%B9%E3%82%AF%E3%83%AD%E3%83%BC%E3%83%AB%E3%81%99%E3%82%8B%E8%A6%81%E7%B4%A0%E3%81%AB%E3%81%AF-overscroll-behaviorcontain-%E3%82%92%E6%8C%87%E5%AE%9A%E3%81%99%E3%82%8B" target="_blank" rel="noopener noreferrer">
              dialog要素を使用したモーダルウィンドウの実装例
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </main>
  <%- include(ejsPath + 'common/_footer.ejs', { page }) %>
  <%- include(ejsPath + 'components/_p-dialog.ejs') %>
  <%- include(ejsPath + 'components/_p-dialog-video.ejs') %>
</body>

</html>