/* 使い方
・ホバー・フォーカスで明るさを変える
.p-tab-contents__button {
  @include hover-brightness(); // 初期値 1.1
  @include hover-brightness(1.2); // 明るさを変える
}
*/

@mixin hover-brightness($brightness: 1.1, $duration: 0.3s, $easing: ease-in-out) {
  transition: filter $duration $easing;

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
      filter: brightness($brightness);
    }
  }
  
  &:focus-visible {
    opacity: 1;
    filter: brightness($brightness);
  }
}
