@use "../global" as *;

/* リキッドレイアウト */
html {
  font-size: 16px;

  @if $startFrom == sp {
    @media (max-width: 375px) {
      font-size: vw(375, 16);
      font-size: cqi(375, 16);
    }

    @include mq() {
      font-size: vw($inner-pc + $padding-pc * 2, 16);
      font-size: cqi($inner-pc + $padding-pc * 2, 16);
    }

    @media (min-width: #{$inner-pc + $padding-pc * 2}px) {
      font-size: 16px;
    }
  } @else {
    @media (max-width: #{$inner-pc + $padding-pc * 2}px) {
      font-size: vw($inner-pc + $padding-pc * 2, 16);
      font-size: cqi($inner-pc + $padding-pc * 2, 16);
    }

    @include mq() {
      font-size: 16px;
    }

    @media (max-width: 375px) {
      font-size: vw(375, 16);
      font-size: cqi(375, 16);
    }
  }
}

/* スムーススクロール */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @if $startFrom == sp {
    @include mq() {
      pointer-events: none;
    }
  } @else {
    pointer-events: none;
    @include mq() {
      pointer-events: initial;
    }
  }
}

a {
  transition: opacity 0.3s ease-in-out;
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.7;
  }
}

a:focus-visible {
  opacity: 0.7;
}


body {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--base-font-family);
  line-height: 1.5;
}

main {
  flex: 1;
}

img {
  /* 低解像度ディスプレイでのジャギー防止 */
  overflow-clip-margin: unset;
  display: block;
}

button {
  border-width: 0;
  padding: 0;
}

h1 {
  margin-block: unset;
}