<header class="p-header l-header">
  <div class="p-header__inner">
    <nav class="p-header__nav">
      <ul class="p-header__nav-items">
        <% Object.entries(pages).forEach(([key, item]) => { %>
          <% if (!headerExcludePages.includes(key)) { %>
            <li class="p-header__nav-item">
              <a href="<%- item.path %>" 
                 class="p-header__nav-item-link" 
                 <%= item.targetBlank ? 'target="_blank" rel="noopener noreferrer"' : '' %>>
                <%- item.label %>
              </a>
            </li>
          <% } %>
        <% }); %>
      </ul>
    </nav>
  </div>
</header>