<main class="p-main l-main">
  <div class="l-inner">
    <h1 class="p-main__title">会社概要</h1>
    <p>会社概要ページです。</p>
    <p><a href="../privacy/">プライバシーポリシー</a>を見る</p>
    <img src="<%- imagePath %>dummy/dog.png" alt="">
  </div>
</main>