<main class="p-main l-main">
  <div class="p-main__inner l-inner">
    <h2 class="p-thanks__heading">お問い合わせが完了しました。</h2>
    <div class="p-thanks__text-block">
      <p class="p-thanks__text">
        ○○株式会社にお問い合わせいただき、<wbr>ありがとうございます。<wbr>内容を確認次第、担当者よりご連絡させていただきます。
      </p>
      <p class="p-thanks__text">
        ※内容によっては、返信いたしかねる場合もございますので、<wbr>あらかじめご了承ください。
      </p>
    </div>
    <div class="p-thanks__button">
      <a href="../" class="c-button">トップへ戻る</a>
    </div>
  </div>
</main>