<section class="p-top-mv l-top-mv" id="top-mv">
  <div class="p-top-mv__inner l-inner">
   <div class="p-top-mv__heading">
    <p>top-mv.ejs</p>
   </div>
   <div class="p-top-mv__content">
    <section class="splide" id="slider1" aria-label="Hero images">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><img src="/assets/images/dummy/dummy1.jpg" alt=""></li>
          <li class="splide__slide"><img src="/assets/images/dummy/dummy2.jpg" alt=""></li>
          <li class="splide__slide"><img src="/assets/images/dummy/dog.png" alt=""></li>
          <li class="splide__slide"><img src="/assets/images/dummy/7260.gif" alt=""></li>
        </ul>
      </div>
    </section>
  </div>
</div>
</section>
<div class=""><img src="/assets/images/dummy/dummy3.jpg" alt=""></div>