/* 使い方
・本体
.c-button {
  @include hover-scale(); // 初期値
  @include hover-scale(1.2); // 拡大率を上げる
}

・子要素
.p-card__image img {
  @include hover-scale-parent(); // 初期値（aタグの子要素）
  @include hover-scale-parent($scale: 1.2); // 拡大率を上げる
  @include hover-scale-parent($parent: 'button'); // ホバー対象がbuttonタグ
  @include hover-scale-parent($parent: '.p-card', $scale: 1.2); // 親要素指定 + 拡大率指定
}

*/

@mixin hover-scale($scale: 1.1, $duration: 0.3s, $easing: ease-in-out) {
  transition: scale $duration $easing;

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
      scale: $scale;
    }
  }

  &:focus-visible {
    opacity: 1;
    scale: $scale;
  }
}

@mixin hover-scale-img($scale: 1.1, $duration: 0.3s, $easing: ease-in-out) {
  @media (any-hover: hover) {
    img {
      transition: scale $duration $easing;
    }

    &:hover {
      opacity: 1;
    }

    &:hover img {
      scale: $scale;
    }
  }

  &:focus-visible {
    opacity: 1;
    scale: $scale;
  }
}

// 子要素に指定（廃止予定）
@mixin hover-scale-parent($parent: "a", $scale: 1.1, $duration: 0.3s, $easing: ease-in-out) {
  transition: scale $duration $easing;

  @media (any-hover: hover) {
    #{$parent}:hover & {
      opacity: 1;
      scale: $scale;
    }
  }

  #{$parent}:focus-visible & {
    opacity: 1;
    scale: $scale;
  }
}
