/* 使い方
・ホバー・フォーカスで不透明度を変える
a {
  @include hover-opacity(); // 初期値 0.7
  @include hover-opacity(0.8); // 不透明度を変える
}
*/

@mixin hover-opacity($opacity: 0.7) {
  transition: opacity var(--hover-transition);

  @media (any-hover: hover) {
    &:hover {
      opacity: $opacity;
    }
  }

  &:focus-visible {
    opacity: $opacity;
  }
}
