<% if (typeof accordionItems === 'undefined') {
  accordionItems = [
    {
      summary: '概要',
      content: '折りたたまれている部分です。'
    },
    {
      summary: 'Q. buttonタグでもアコーディオンは作れそうですが？',
      content: '<p>A. <code>details</code>タグと<code>summary</code>タグがオススメです。</p>'
    }
  ];
} %>
<% accordionItems.forEach((item) => { %>
<details class="p-accordion js-details">
  <summary class="p-accordion__summary js-summary">
    <span class="p-accordion__summary-inner">
      <%- item.summary %><span class="p-accordion__icon"></span>
    </span>
  </summary>
  <div class="p-accordion__content js-content">
    <div class="p-accordion__content-inner">
      <%- item.content %>
    </div>
  </div>
</details>
<% }); %>