<% if (type === 'background') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-background">背景色が変わるボタン</a>
</div>
<% } else if (type === 'scale') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-scale">拡大するボタン</a>
</div>
<% } else if (type === 'slide') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-slide">
    <span class="p-button__text">スライドするボタン</span>
  </a>
</div>
<% } else if (type === 'shadow') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-shadow">シャドウが変わるボタン</a>
</div>
<% } else if (type === 'gradient') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-gradient">グラデーションが変わるボタン</a>
</div>
<% } else if (type === 'ripple') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-ripple">
    <span class="p-button__ripple"></span>
    リップルエフェクト
  </a>
</div>
<% } else if (type === 'icon') { %>
<div class="p-demo__button">
  <a href="#" class="c-button c-button-icon">
    <span class="p-button__text">アイコンアニメーション</span>
    <span class="p-button__icon">→</span>
  </a>
</div>
<% } %>

