<% 
const EJS_PATH = "../";
const topMvImages = [
    { file: "top/nagasaki1.jpg", alt: "長崎1" },
    { file: "top/nagasaki2.jpg", alt: "長崎2" },
    { file: "top/nagasaki3.jpg", alt: "長崎3" },
  ];
%>
<section class="p-top-mv l-top-mv" id="js-top-mv">
  <div class="p-top-mv__slider splide" id="js-top-mv-splide">
    <div class="p-top-mv__slider-track splide__track">
      <ul class="p-top-mv__slider-list splide__list">
        <% topMvImages.forEach((item) => { %>
        <li class="p-top-mv__slider-item splide__slide">
          <img src="/assets/images/<%- item.file %>" alt="<%- item.alt %>">
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <div class="p-top-mv__inner l-inner">
    <div class="p-top-mv__copy">
      <h2 class="p-top-mv__main-copy">
        フェードで切り替えるスライダー（Splide）
      </h2>
      <p class="p-top-mv__sub-copy">
        ZoomはCSSで。
      </p>
    </div>
  </div>
</section>