<p><code>src/assets/sass/global/mixins/</code> に、any-hover・:focus-visible・リンクの opacity 打ち消しなどを含めたホバー用 Sass mixin を置いている。コンポーネント SCSS では <code>@use '../global' as *;</code> のあと <code>@include</code> で呼び出す。各セクションに、このデモで使っている mixin を記載している。</p>
