@use "../global" as *;

.c-menu-button {
  --menu-line-width: #{rem(30)};
  --menu-line-height: 2px;
  --menu-line-color: var(--color-text);
  --menu-line-gap: #{rem(8)};
  position: relative;
  width: rem(48);
  background-color: var(--color-bg)
}

.c-menu-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: var(--menu-line-width);
  height: var(--menu-line-height);
  background-color: var(--menu-line-color);
  transition: background-color 0.3s ease-in-out;
}

.c-menu-button span:before,
.c-menu-button span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: var(--menu-line-height);
  background-color: var(--menu-line-color);
  content: "";
  transition: transform 0.3s ease-in-out;
}

.c-menu-button span::before {
  transform: translateY(calc(var(--menu-line-gap) * -1));
}

.c-menu-button span::after {
  transform: translateY(var(--menu-line-gap));
}

/* ドロワーメニュー展開時 */
.c-menu-button[aria-expanded="true"] {
}

.c-menu-button[aria-expanded="true"] span {
  background-color: transparent;
}

.c-menu-button[aria-expanded="true"] span::before {
  transform: translateY(0) rotate(45deg);
}

.c-menu-button[aria-expanded="true"] span::after {
  transform: translateY(0) rotate(-45deg);
}
