@use '../global' as *;

.p-accordion__summary-inner {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #d2beff;
}

.p-accordion__icon {
  width: rem(12);
  aspect-ratio: 12/9;
  background: url(/assets/images/common/arrow_down.svg) no-repeat center / cover;
  transition: transform 0.3s ease-out;
}

/* is-openedクラスが付与されたときのスタイル */
.p-accordion.is-opened .p-accordion__icon {
  transform: rotate(180deg);
}

/* --------アコーディオンの中身のスタイル-------- */
.p-accordion__content {
  overflow: hidden;
  background-color: #f0f2ff;

  /* details直下のタグにpaddingを設定すると挙動がおかしくなるので、ここには指定しない */
}

.p-accordion__content-inner {
  padding-block: rem(24);
  padding-inline: rem(48);
}