@use "../global" as *;

.p-demo-dialog-movie {
  display: grid;
  gap: rem(20);
  @include mq() {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(32);
  }
}

.p-demo-dialog-movie__item {
  display: grid;
  gap: rem(10);
}

.p-demo-dialog-movie__title {
  text-align: center;
}

.p-demo-dialog-movie__thumbnail {
  width: 100%;
}

.p-movie-modal {
  position: relative;
  z-index: 0;
  padding: rem(3);
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
  @include mq() {
    padding: rem(4);
  }
}

.p-movie-modal::after {
  position: absolute;
  inset: rem(3);
  background: rgba(#000, 0.7) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3C/svg%3E") no-repeat center / rem(40);
  content: "";
  box-shadow: inset 0 0 rem(10) rgba(#000, 0.3);
  transition: background-color 0.3s ease-in-out;
  @include mq() {
    inset: rem(4);
    background-size: rem(60);
  }
}

.p-movie-modal img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.p-movie-modal__modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(#000, 0.9);
  align-items: center;
  justify-content: center;
}

.p-movie-modal__modal-content {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  max-width: rem(1200);
  width: calc(100% - rem($padding-sp * 2));
  @include mq() {
    width: calc(100% - rem($padding-pc * 2));
  }
}

.p-movie-modal__modal-content iframe {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.p-movie-modal__close {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: rem(40);
  height: rem(2);
  background: currentColor;
  border-radius: 0.1rem;
  position: fixed;
  transform: rotate(45deg);
  border: none;
  top: rem(24);
  right: rem(4);
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  @include mq() {
    top: rem(42);
    right: rem(8);
    width: rem(66);
  }
}

.p-movie-modal__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.p-movie-modal:focus-visible::after {
  background-color: rgba(#000, 0.5);
}

.p-movie-modal__close:focus-visible {
  opacity: 0.8;
}

@media (any-hover: hover) {
  .p-movie-modal:hover::after {
    background-color: rgba(#000, 0.5);
  }
  .p-movie-modal__close:hover {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

