@use "../global" as *;

:where(dialog) {
  inline-size: unset;
  max-inline-size: unset;
  block-size: unset;
  max-block-size: unset;
  padding: unset;
  margin: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset; // スクロールさせたい場合は、子孫要素で
}

:focus:not(:focus-visible) {
  outline: none;
}

:where(:root[data-mousedown] dialog *) {
  outline: none;
}

[data-modal-open]:where(:root[data-mousedown] *) {
  outline: none;
}

.p-dialog {
  // デバッグ用
  // position: fixed;
  // inset: 0;
  // z-index: 1001;

  --duration: 0.5s;
  margin: auto;
  width: calc(100% - rem($padding-sp * 2));
  height: fit-content;
  max-height: 80%;
  overflow-y: auto;
  overscroll-behavior: contain;
  background-color: var(--color-white);
  box-shadow: 0 0 0 100vmax rgba(#333, 0.8);
  transition:
    opacity var(--duration),
    scale var(--duration);
  // contain: strict;
  contain: layout style paint; // sizeを除外（height: fit-contentと競合するため）
  outline: none;
  /* この要素のスクロールが終端に達しても親要素（背景）にスクロールを伝播させない */
  @include mq() {
    max-width: rem(1000);
    // height: calc(100svb - rem($padding-pc * 2));
  }
  &:not([data-active="true"]) {
    opacity: 0;
    scale: 0.95;
  }
  &::backdrop {
    transition: opacity 0.5s;
  }
  &:not([data-active="true"])::backdrop {
    opacity: 0;
  }
}

.p-dialog__container {
  // block-size: 100%;
  // height: fit-content;
  // max-height: 100%;
  padding: rem(56) rem(20);
  // overflow: auto;
  // background-color: pink;
}

.p-dialog__close {
  position: absolute;
  z-index: 1;
  top: rem(24);
  right: rem(24);
  width: rem(54);
  aspect-ratio: 1;
  transition: opacity 0.3s;
  background-color: var(--color-deep-green);
  border-radius: 50%;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:focus-visible {
    opacity: 0.7;
  }
}

.p-dialog__close::before,
.p-dialog__close::after {
  position: absolute;
  inset: 0;
  display: inline-block;
  width: calc(32 / 54 * 100%);
  height: rem(3);
  margin: auto;
  content: "";
  background-color: var(--color-white);
}

.p-dialog__close::before {
  rotate: 45deg;
}

.p-dialog__close::after {
  rotate: 135deg;
}
