@use "../global" as *;

.c-hover-text-underline {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--hover-transition);
}

@media (any-hover: hover) {
  .c-hover-text-underline:hover {
    opacity: 1;
    text-decoration-color: currentColor;
  }
}

.c-hover-text-underline-slide {
  @include hover-text-underline-slide();
}