@use '../global' as *;

.p-scroll {
  writing-mode: vertical-lr;
}

.p-scroll__text {

}

.p-scroll__text {
  display: flex;
  gap: rem(15);
  align-items: center;
}

.p-scroll__text::before {
  width: rem(7);
  aspect-ratio: 66/1732;
  content: "";
  mask: url(../images/common/arrow_scroll.svg) no-repeat center / contain;
  background-color: currentColor;
  animation: scroll 2s infinite;
  transform-origin: bottom;
}

/* 矢印のアニメーション */
@keyframes scroll {
  0% {
    scale: 1 0;
    transform-origin: 0 0;
  }
  50% {
    scale: 1 1;
    transform-origin: 0 0;
  }
  51% {
    scale: 1 1;
    transform-origin: 0 100%;
  }
  100% {
    scale: 0 1;
    transform-origin: 0 100%;
  }
}