@use "../global" as *;

.p-splide-fade.splide {
}

.p-splide-fade__slider-track.splide__track {
}

.p-splide-fade__slider-list.splide__list {
}

.p-splide-fade__slider-item.splide__slide {
}

.p-splide-fade__slider-item.splide__slide img {
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: 8s;
}

.p-splide-fade__slider-item.splide__slide.is-active img {
  transform: scale(1.1);
}