<%
  const key = 'demoToolkit';
  const page = ty_getPage(key);
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>

<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <%- include(ejsPath + 'components-demo/_sub-mv.ejs', { titleJa: pages[key].label, imageSrc: 'demo/dummy2.jpg', imageAlt: '' }) %>
  <main class="p-demo">
    <div class="p-demo__inner l-inner">
      <div class="p-demo__sections">
        <section class="p-demo__section">
          <h2>レイアウト</h2>
          <dl class="p-dl">
            <dt class="p-dl__dt">
              <code>.p-demo</code>
            </dt>
            <dd class="p-dl__dd">
              <code>main.p-demo</code>として使う。上部の余白を管理。
            </dd>
            <dt class="p-dl__dt">
              <code>.p-demo__sections</code>, <code>.p-demo__section</code>
            </dt>
            <dd class="p-dl__dd">
              縦積みのsectionを管理。section間の余白を管理。
            </dd>
          </dl>
        </section>
        <section class="p-demo__section">
          <h2>h2見出し</h2>
          <h3>h3見出し</h3>
          <div class="p-demo__content">
            <div class="p-demo__box">
              <p>背景色付きのボックス</p>
            </div>
          </div>
          <h3>コードブロック</h3>
          <div class="p-demo__content">
            <h4>短い断片の文字列（ラベル）</h4>
            <p>
              クラス名などを<code>.p-demo__code</code>のようにcodeタグで囲う
            </p>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%- include(ejsPath + 'components-demo/_c-page-top.ejs') %>
  <%- include(ejsPath + 'common/_footer.ejs', { page }) %>
</body>

</html>
