@use "../global" as *;

.c-button {
  --button-bg: var(--color-bg-sub);
  --button-bg-hover: var(--color-theme);
  --button-text-color: var(--color-text);
  --button-text-color-hover: var(--color-bg);
  --button-border: 2px solid var(--color-black);
  --button-border-radius: 100vh;
  display: inline-flex;
  padding-block: rem(16);
  padding-inline: rem(32);
  background-color: var(--button-bg);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
}

/* アイコン（種別ごとに $icon-image を渡す） */
.c-button[data-icon="arrow_right"] {
  @include button-icon-after(url("../images/common/icon_arrow_right.svg"));
  @include button-icon-after-nudge;
}

/* ホバー */
.c-button[data-hover="bg"] {
  @include hover-bg;
}

.c-button[data-hover="scale"] {
  @include hover-scale;
}

.c-button[data-hover="bg-slide"] {
  @include hover-bg-slide-before;
}

.c-button[data-hover="shadow"] {
  @include hover-shadow;
}

.c-button[data-hover="ripple"] {
  @include hover-ripple-after;
}