@use "../global" as *;

.p-demo-grid {
  display: grid;
  gap: rem(20);
  // background-color: beige;
}

/* スマホ：1列／PC：3列 */
.p-demo-grid--basic {
  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-demo-grid__item {
  min-width: 0;
}

.p-demo-grid__content {
  padding: rem(20);
  background-color: #f0f0f0;
  border-radius: rem(8);
  text-align: center;
}

/* 不等間隔グリッド */
.p-demo-grid--uneven {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.p-demo-grid--uneven .p-demo-grid__item--large {
  grid-row: 1 / 3;
}

/* 常に幅300px */
.p-demo-grid--auto-fit {
  grid-template-columns: repeat(auto-fit, 300px);
}

/* auto-fill */
.p-demo-grid--auto-fill {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}