@use "../global" as *;
// demoページ用のスタイル（納品時にはファイルごと削除）

.p-demo {
  padding-block-start: calc(var(--header-height) + rem(80));
}

.p-demo__inner {
  display: grid;
  gap: rem(60);
}

.p-demo__inner > * {
  min-width: 0;
}

.p-demo__section {
  min-width: 0;
  display: grid;
  gap: rem(20);
}

.p-demo__section > * {
  min-width: 0;
}

.p-demo__title {
}


.p-demo__button {
  margin-block-start: rem(80);
  text-align: center;
}

.p-demo__content {
  display: grid;
  gap: rem(40);
}

.p-demo__content > * {
  min-width: 0;
}

.p-demo__desc {
}
