@use "../global" as *;

.p-demo-list {
  --icon-size: #{rem(8)}; // アイコンの高さ
  --icon-color: var(--color-theme);
  // --icon-color: var(--color-accent);
  margin-block: revert;
  padding-inline-start: revert;
  list-style-type: revert;
  display: grid;
  gap: rem(8);
}

.p-demo-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: rem(10);
  align-items: flex-start;
}

.p-demo-list__item::before {
  margin-block: calc((1lh - var(--icon-size)) / 2);
  block-size: var(--icon-size);
  aspect-ratio: 1/1;
  background-color: var(--icon-color, currentColor);
  border-radius: 50%;
  content: "";
}

.p-demo-list__item-text {
}

