@use "../global" as *;

.p-list {
  // CSS変数の定義（カスタマイズ可能）
  --list-row-gap: #{rem(8)};
  --list-marker-size: #{rem(8)};
  --list-marker-color: var(--color-theme);
  --list-column-gap: #{rem(10)};
  display: grid;
  gap: var(--list-row-gap);
}

.p-list__item {
  position: relative;
  padding-inline-start: calc(var(--list-marker-size) + var(--list-column-gap));
}

.p-list__item::before {
  position: absolute;
  inset-block-start: calc((1lh - var(--list-marker-size)) / 2 );
  inset-inline-start: 0;
  block-size: var(--list-marker-size);
  aspect-ratio: 1; // 正方形の場合はOKだけど、そうでない場合余白管理の調整が必要
  background-color: var(--list-marker-color);
  border-radius: 50%;
  content: "";
}