@use "../global" as *;

.p-splide-progress.splide {
}

.p-demo:has(.p-splide-progress) {
  overflow-x: clip;
}

.p-splide-progress__track.splide__track {
  overflow: visible;
}

.p-splide-progress__list.splide__list {
}

.p-splide-progress__item.splide__slide {
  width: rem(335);
  @include mq() {
    width: rem(368);
  }
}

.p-splide-progress__item.splide__slide.is-active {
  box-shadow: 4px 4px 4px red;
}

.p-splide-progress__item.splide__slide img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}

.p-splide-progress__controls {
  margin-block-start: rem(15);
  display: flex;
  align-items: center;
  column-gap: rem(15);
}

.p-splide-progress__progress {
  flex: 1;
  background-color: var(--color-white);
}

.p-splide-progress__progress-bar {
  width: 0;
  height: rem(3);
  background-color: var(--color-theme);
  transition: width 0.3s ease-out;
}

.p-splide-progress__arrows.splide__arrows {
  color: var(--color-theme);
}

.p-splide-progress__arrow.splide__arrow {
  background-color: currentColor;
  width: rem(40);
  aspect-ratio: 1;
  mask: url(../images/common/icon_arrow_right.svg) no-repeat center / contain;
}

.p-splide-progress__arrow.splide__arrow--prev {
  rotate: 180deg;
}

.p-splide-progress__arrow.splide__arrow:disabled {
  opacity: 0.5;
}
