@use "../global" as *;

.p-splide-posts {
}

.l-splide-posts {
  margin-block-start: rem(40);
}

.p-splide-posts__inner {
}

.p-splide-posts__wrap {
  display: grid;
  gap: rem(20);
  align-items: center;
  @include mq() {
    grid-template-columns: auto 1fr;
  }
}

.p-splide-posts__wrap > * {
  min-width: 0;
}

.p-splide-posts__heading {
}

.p-splide-posts__content {
}

.p-splide-posts__slider.splide {
}

.p-splide-posts__slider-track.splide__track {
  display: grid;
  gap: rem(20);
  @include mq() {
    grid-template-columns: 1fr auto auto;
    align-items: center;
  }
}

.p-splide-posts__slider-list.splide__list {
  min-width: 0;
}

.p-splide-posts__item.splide__slide {
  width: 100%;
  background-color: var(--color-bg-sub);
  white-space: nowrap;
  overflow-x: clip;
}

.p-splide-posts__controlls {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: rem(16);
}

.p-splide-posts__slider-pagination {
  gap: rem(8);
}

.p-splide-posts__item-text {
  width: fit-content;
  padding-block: 0.5em;
  padding-inline: 1em;
  translate: 0 0;
  opacity: 0;
  background-color: orange;
}

.p-splide-posts__item.splide__slide.is-active .p-splide-posts__item-text {
  opacity: 1;
  animation: splide-posts-text-scroll var(--text-scroll-duration, 8s) linear var(--text-scroll-delay, 2s) forwards;
}

.p-splide-posts__slider:hover .p-splide-posts__item.splide__slide.is-active .p-splide-posts__item-text {
  animation-play-state: paused;
}

@keyframes splide-posts-text-scroll {
  from {
    translate: 0 0;
  }

  to {
    translate: -100% 0;
  }
}

.p-splide-posts__slider-pagination .splide__pagination__page {
  width: rem(8);
  aspect-ratio: 1;
  background-color: var(--color-text);
  border-radius: 50%;
}

.p-splide-posts__slider-pagination .splide__pagination__page.is-active {
  background-color: var(--color-accent);
}

.p-splide-posts__slider-arrows.splide__arrows {
}

.p-splide-posts__slider-arrow-next.splide__arrow.splide__arrow--next {
  width: rem(24);
  aspect-ratio: 24/8;
  background: url(../images/common/arrow_right.svg) no-repeat center / contain;
}

.p-splide-posts__slider-arrow-prev.splide__arrow.splide__arrow--prev {
  display: none;
}

.p-splide-posts__desc {
  margin-block-start: rem(40);
}